{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Listar registros</title>

  <link rel = "icon" href = ""/>
  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                {% include 'partials/messages.html' %}
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h1 text-gray-900 m-4">REGISTROS</h1>
                  </div>
                  <form class="table-responsive" id="table-list">
                    <div class="text-gray-800 mb-2 form-inline">
                      <div class="col-md-6 pl-0">
                        <h6>Exibindo <b>{{ page_obj.start_index }}-{{ page_obj.end_index }}</b> de <b>{{ count }}</b> ite{{ count|pluralize:"m,ns" }}.</h6>
                      </div>
                      {% if count > 20 %}
                        <div class="col-md">
                          <div class="form-group row float-md-right">
                            <label class="col-md col-form-label">Quantidade</label>
                            <select name="size" class="custom-select">
                              <option value="20" {% if request.GET.size == '20' %}selected{% endif %}>20</option>
                              <option value="25" {% if request.GET.size == '25' %}selected{% endif %}>25</option>
                              <option value="50" {% if request.GET.size == '50' %}selected{% endif %}>50</option>
                              <option value="100" {% if request.GET.size == '100' %}selected{% endif %}>100</option>
                            </select>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Data</th>
                                <th>Entrada</th>
                                <th>Saída</th> 
                                <th>Serviço</th> 
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                              <th>
                                <input type="text" class="form-control" name="rfid" value="{{ request.GET.nome }}" placeholder="Pesquise pela tag">
                              </th>
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                            </tr>
                        </thead>
                    
                        {% if registros %}
                        <tbody>
                            {% for registro in registros %}
                                <tr>
                                    <td>{{ registro.rfid }}</td>

                                    <td>{{ registro.data }}</td>
                                    <td>{{ registro.horario_entrada }}</td>
                                    <td>
                                        {% if registro.horario_saída %}
                                            {{ registro.horario_saída }}
                                        {% else %}
                                            <i class="text-danger">(Em serviço)</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-sm btn-secondary my-auto" data-toggle="modal" data-target="#modal-{{registro.id}}">
                                        Descrição do serviço
                                      </button>
                                    </td>
                                </tr>
                                <div class="modal fade" id="modal-{{registro.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Descrição do Serviço</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          {% if registro.servico %}
                                              {{ registro.servico }}
                                          {% else %}
                                              <i class="text-danger">Não consta</i>
                                          {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>               
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>

</html>
